# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: r
sudo: false
cache: packages
latex: false

env:
  global:
  - _R_CHECK_FORCE_SUGGESTS_=false
  - MAKEFLAGS="-j 2"
  - TRAVIS_CXXFLAGS="-Wall -Wextra -pedantic -Werror"

r:
- release
- oldrel
- devel

before_script:
- mkdir -p ~/.R
- echo 'PKG_CXXFLAGS := ${PKG_CXXFLAGS} $${TRAVIS_CXXFLAGS}' > ~/.R/Makevars

after_success:
- rm -rf ~/.R
- Rscript -e 'covr::codecov()'
