# travis config, based on https://github.com/craigcitro/r-travis

language: c
script: ./travis-tool.sh run_tests
before_install:
  - curl -OL http://raw.github.com/romainfrancois/r-travis/master/scripts/travis-tool.sh
  - chmod 755 ./travis-tool.sh
  - ./travis-tool.sh bootstrap
install:
  - ./travis-tool.sh github_package assertthat
  - ./travis-tool.sh github_package testthat
  - ./travis-tool.sh github_package bigrquery
  - ./travis-tool.sh install_deps
branches:
  except:
   - /-expt$/
notifications:
  email:
    on_success: change
    on_failure: change
