language: c
services: PostgreSQL

before_install:
  - curl -OL http://raw.github.com/craigcitro/r-travis/master/scripts/travis-tool.sh
  - chmod 755 ./travis-tool.sh
  - ./travis-tool.sh bootstrap
install:
  - mkdir ~/.R
  - ./travis-tool.sh r_binary_install ggplot2
  - ./travis-tool.sh r_binary_install RSQLite
  - ./travis-tool.sh r_binary_install RMySQL
  - ./travis-tool.sh r_binary_install knitr
  - ./travis-tool.sh install_github hadley/lazyeval
  - if [ "$RCPP" = "release" ]; then ./travis-tool.sh r_binary_install Rcpp; fi
  - if [ "$RCPP" = "devel" ]; then cd ..; git clone https://github.com/RcppCore/Rcpp.git; R CMD INSTALL Rcpp; cd -; fi
  - ./travis-tool.sh install_deps

before_script:
# - psql -c 'create database lahman;' -U postgres
# - psql -c 'create database nycflights13;' -U postgres
# - psql -c 'create database test;' -U postgres
# Install dplyr package then cache sqlite and postgres version of Lahman
- R CMD INSTALL .
- Rscript -e "library(methods); library(dplyr); lahman_sqlite()"
- Rscript -e "library(methods); library(dplyr); nycflights13_sqlite()"
# lahman_postgres; #nycflights13_postgres()
script: ./travis-tool.sh run_tests

after_failure:
  - ./travis-tool.sh dump_logs

branches:
  except:
  - /-expt$/
  - solaris
notifications:
  email:
    on_success: change
    on_failure: change
env:
  - RCPP=release PKG_CXXFLAGS="-g -O3 -Wall -pedantic"
  - RCPP=devel PKG_CXXFLAGS="-g -O3 -Wall -pedantic"

