# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
sudo: false
dist: trusty
cache: packages
latex: false
fortran: false

jobs:
  include:
  - r: release
  - os: osx
  - r: devel
  - r: 3.4
  - r: 3.3
  - r: 3.2
    warnings_are_errors: false
  - r: 3.1
    warnings_are_errors: false

matrix:
  fast_finish: true

env:
  global:
  - _R_CHECK_FORCE_SUGGESTS_=false
  - MAKEFLAGS="-j 2"
  - TRAVIS_CXXFLAGS="-Wall -Wextra -pedantic -Werror"
  - R_REMOTES_NO_ERRORS_FROM_WARNINGS=true

after_success:
  - Rscript -e 'covr::codecov()'
