S3method(arrange,data.frame)
S3method(arrange,data.table)
S3method(arrange,grouped_df)
S3method(arrange,grouped_dt)
S3method(arrange,grouped_sqlite)
S3method(arrange,source_df)
S3method(arrange,source_dt)
S3method(arrange,source_sqlite)
S3method(as.data.frame,grouped_df)
S3method(as.data.frame,source_df)
S3method(as.data.frame,source_dt)
S3method(as.data.frame,source_sqlite)
S3method(as.source,data.frame)
S3method(as.source,data.table)
S3method(as.source,source)
S3method(dim,source_dt)
S3method(dim,source_sqlite)
S3method(dimnames,source_dt)
S3method(dimnames,source_sqlite)
S3method(do,"NULL")
S3method(do,data.frame)
S3method(do,data.table)
S3method(do,grouped_df)
S3method(do,grouped_dt)
S3method(do,grouped_sqlite)
S3method(do,list)
S3method(do,source_df)
S3method(do,source_dt)
S3method(escape,"NULL")
S3method(escape,character)
S3method(escape,double)
S3method(escape,integer)
S3method(escape,list)
S3method(escape,sql)
S3method(filter,data.frame)
S3method(filter,data.table)
S3method(filter,grouped_df)
S3method(filter,grouped_dt)
S3method(filter,grouped_sqlite)
S3method(filter,source_df)
S3method(filter,source_dt)
S3method(filter,source_sqlite)
S3method(group_by,data.frame)
S3method(group_by,data.table)
S3method(group_by,source_dt)
S3method(group_by,source_sqlite)
S3method(head,source_dt)
S3method(head,source_sqlite)
S3method(is.lazy,grouped_df)
S3method(mutate,data.frame)
S3method(mutate,data.table)
S3method(mutate,grouped_df)
S3method(mutate,grouped_dt)
S3method(mutate,grouped_sqlite)
S3method(mutate,source_df)
S3method(mutate,source_dt)
S3method(mutate,source_sqlite)
S3method(print,grouped_df)
S3method(print,grouped_dt)
S3method(print,grouped_sqlite)
S3method(print,source_df)
S3method(print,source_dt)
S3method(print,source_sqlite)
S3method(print,sql)
S3method(select,data.frame)
S3method(select,data.table)
S3method(select,grouped_df)
S3method(select,grouped_dt)
S3method(select,grouped_sqlite)
S3method(select,source_df)
S3method(select,source_dt)
S3method(select,source_sqlite)
S3method(source_vars,data.frame)
S3method(source_vars,source_dt)
S3method(source_vars,source_sqlite)
S3method(summarise,data.frame)
S3method(summarise,data.table)
S3method(summarise,grouped_df)
S3method(summarise,grouped_dt)
S3method(summarise,grouped_sqlite)
S3method(summarise,source_df)
S3method(summarise,source_dt)
S3method(summarise,source_sqlite)
S3method(tail,source_dt)
S3method(tail,source_sqlite)
S3method(ungroup,grouped_df)
S3method(ungroup,grouped_dt)
export(.datatable.aware)
export(arrange)
export(as.data.table.source_dt)
export(as.source)
export(base_sql)
export(desc)
export(dim_desc)
export(do)
export(escape)
export(failwith)
export(filter)
export(group_by)
export(grouped_sqlite)
export(id)
export(is.grouped_df)
export(is.grouped_dt)
export(is.source)
export(mutate)
export(partial_eval)
export(select)
export(select_query)
export(source_df)
export(source_dt)
export(source_sqlite)
export(source_vars)
export(sql)
export(sql_infix)
export(sql_not_supported)
export(sql_prefix)
export(sql_variant)
export(sqlite_sql)
export(summarise)
export(to_sql)
export(to_sql_q)
export(translate_sql)
export(trunc_mat)
export(ungroup)
export(var_eval)
import(assertthat)
importFrom(utils,head)
importFrom(utils,tail)
useDynLib(dplyr)
