img.icon {
  float: left;
  margin-left: -35px;
  width: 30px;
  height: 30px;
}

/* Fixes for fixed navbar --------------------------*/

body {
  position: relative;
  padding-top: 65px;
}

.contents h1, .contents h2, .contents h3, .contents h4 {
  padding-top: 65px;
  margin-top: -45px;
}

.page-header {
  margin-top: 0;
}

/* Table of contents --------------------------*/

#sidebar {
  /*
    Needed to avoid bug in sticky-kit:
    https://github.com/leafo/sticky-kit/issues/169
  */
  position:static;
}

#sidebar h2 {
  font-size: 1.6em;
  margin-top: 1em;
  margin-bottom: 0.25em;
}

#sidebar .list-unstyled li {
  margin-bottom: 0.5em;
  line-height: 1.4;
}

#sidebar small {
  color: #777;
}


/* Syntax highlighting ---------------------------------------------------- */

.fl,.number {color:rgb(21,20,181);}
.fu,.functioncall {color:#264D66 ;}
.ch,.st,.string {color:#375D81 ;}
.kw,.keyword {font-weight:600;}
.argument {color:#264D66 ;}
.co,.comment {color: #333;}
.formalargs {color: #264D66;}
.eqformalargs {color:#264D66;}
.slot {font-style:italic;}
.symbol {color:black ;}
.prompt {color:black ;}

pre a {
  font-weight: bolder;
}

pre img {
  background-color: #fff;
  display: block;
}

/* Status --------------------------- */

.status-container {
  padding-top:32px;
}

.status-container  a {
  display: block;
  margin-bottom: 5px;
}

/* For shrinking navbar ------------------ */

/* For big header

  &-brand {
    font-family: $font-family-monospace;
    font-weight: normal;
    font-size: 48px;
    padding: 35px 15px;

    padding-left: 84px;
    background-image:url(../logo.png);
    background-size: 60px auto;
    background-repeat: no-repeat;
    background-position: 15px center;

  }
*/


/* Reference index & topics ----------------------------------------------- */

.ref-index th {font-weight: normal;}
.ref-index h2 {font-size: 20px;}

.ref-index td {vertical-align: top;}
.ref-index .alias {width: 40%;}
.ref-index .title {width: 60%;}

.ref-index .alias {width: 40%;}
.ref-index .title {width: 60%;}

.ref-arguments th {text-align: right; padding-right: 10px;}
.ref-arguments th, .ref-arguments td {vertical-align: top;}
.ref-arguments .name {width: 20%;}
.ref-arguments .desc {width: 80%;}

/* For the rstudio footer ------- */

footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #e5e5e5;

  display: flex;
  color: #666;
}
footer p {
  margin-bottom: 0;
}
footer .tidyverse {
  flex: 1;
}
footer .author {
  flex: 1;
  text-align: right;
}

/* --------------------- darken code link color */

code a {
  color: #375f84;
  font-weight: 600;
}

/* ---------------------- hover anchor tags */

.hasAnchor {
  margin-left: -30px;
}

a.anchor {
  display:inline-block;
  width: 30px;
  height: 30px;
  visibility: hidden;

  background-image: url(./link.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center center;
}

.hasAnchor:hover a.anchor {
  visibility: visible;
}

/* Tweak appearance of navigation in sidebar ---------------------- */

#sidebar .nav {
  padding-left: 0px;
  list-style-type: none;
  color: #5a9ddb;
}

#sidebar .nav > li {
  padding: 10px 0 0px 20px;
  display: list-item;
  line-height: 20px;
  background-image: url(./tocBullet.svg);
  background-repeat: no-repeat;
  background-size: 16px 280px;
  background-position: left 0px;
}

#sidebar .nav > li.active {
  background-position: left -240px;
}

#sidebar a {
  padding: 0px;
  color: #5a9ddb;
  background-color: transparent;
}

#sidebar a:hover {
  background-color: transparent;
  text-decoration: underline;
}
